
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: auto;
}

.container{
    text-align: center;
}

.container h1{
    font-weight: bold;
    text-align: center;
}

.col-md-3{
    text-align: center;
    background-color: gray;
    line-height: 60px;
    left: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    color: white;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: center;
    margin-left: 10px;
    margin-right: 10px;
}