@font-face {
    font-family: shabnam;
    src: url('../fonts/Shabnam-Light.ttf');
}
* {
    font-family: Shabnam !important;
}

footer {
    display: flex;
    align-items: center;
}
footer img {
    width: 2rem;
}
