{% extends 'base.html' %}

{% block title %} مدیریت کامنت ها {% endblock %}

{% block style %}
    <style>
        .post-img-thumbnail {
            width: 16rem;
            height: 9rem;
        }
    </style>
{% endblock %}

{% block content %}


    {% if user %}
    <div class="container-fluid">
      <div class="row">


      {% include "sidebar.html" %}


      <div class="col-md-9">
        <div class=" mt-3 border text-center">
            <h3>فیلتر بر اساس</h3>
            <div class="d-flex justify-content-center my-2">
                <a href="{{ url_for('get_post_by_status', post_status="published") }}" class="btn btn-outline-primary mx-1">published</a>
                <a href="{{ url_for('get_post_by_status', post_status="pending") }}" class="btn btn-outline-warning mx-1">pending</a>
                <a href="{{ url_for('get_post_by_status', post_status="reject") }}" class="btn btn-outline-danger mx-1">reject</a>
                <a href="{{ url_for('get_post_by_status', post_status="all") }}" class="btn btn-outline-success mx-1">all</a>
            </div>

        </div>
        <div class="row my-5">
            {% for post in posts %}
            <section class="col-md-4 col-12 align-items-center">
            {% if post.status == 'pending' %}
                <article class="px-4 py-2 border my-1 shadow rounded">
            {% else %}
                <article class="px-4 py-2 border my-1 rounded">
            {% endif %}

                    <div class="d-flex justify-content-end">
                    {% if post.status == 'pending' %}
                            <span class="badge text-bg-warning">{{ post.status }}</span>
                        {% elif post.status == 'reject' %}
                            <span class="badge text-bg-danger">{{ post.status }}</span>
                        {% elif post.status == 'published' %}
                             <span class="badge text-bg-success">{{ post.status }}</span>
                        {% endif %}
                    </div>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content | truncate(250) }} <a href={{ url_for('get_post', id=post.post_id) }}>ادامه مطالعه</a></p>
                        <small class="ms-2">نویسنده:</small><small>{{ post.owner.first_name }} {{ post.owner.last_name }}</small><br>
                        <small class="ms-2">آخرین ویرایش:</small><small>{{ post.last_update.date() | to_jalali }}</small>

                    {% if post.status == 'pending' %}
                        <form class="writer-request-form" action={{ url_for('post_manage', post_id=post.post_id) }}>
                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                    <button class="btn btn-outline-success confirm-post" type="submit" >تایید</button>
                                    <button class="btn btn-outline-danger reject-post" type="submit" >رد </button>
                                </div>
                                <div>
                                    <a class="btn btn-link" href={{ url_for('update_post', post_id=post.post_id) }} >ویرایش</a>
                                    <button class="btn btn-link text-danger delete-post" type="submit" >حذف</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <form class="writer-request-form" action={{ url_for('post_manage', post_id=post.post_id) }}>
                            <div class="d-flex justify-content-between mt-3">
                                <div>
                                </div>
                                <div>
                                    <a class="btn btn-link" href={{ url_for('update_post', post_id=post.post_id) }} >ویرایش</a>
                                    <button class="btn btn-link text-danger delete-post" type="submit" >حذف</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </article>
            </section>
            {% endfor %}
        </div>
    </div>


      </div>
    </div>
{% else %}
    <h1 class="text-center text-danger bg-warning p-4">برای دسترسی به این صفحه باید وارد شوید</h1>
{% endif %}

{% endblock %}

{% block script %}
    <script src={{ url_for('statics', path='js/post_manage.js') }}></script>
{% endblock %}
