{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block style %} {% endblock %}


{% block content %}

    <div class="container">
    <form class="row g-3 my-5 border border-rounded shadow-lg p-2" method="POST" action="/post" id="create-post-form" enctype="multipart/form-data" >
        <div class="mb-3">
          <input type="text" class="form-control" id="postTitle" name="posttitle" placeholder="عنوان پست">
        </div>
        <div class="mb-3">
          <textarea class="form-control" id="postContent" name="postcontent" rows="6" placeholder="متن پست"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mb-3">ارسال پست</button>
    </form>
    </div>


{% endblock %}


{% block script %}
<script src="../statics/js/create_post.js"></script>
{% endblock %}
