{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block style %} {% endblock %}

{% block header %}



    <button  class="btn btn-outline-primary me-3" onclick=fetchProfile(`${jwt_token}`)>
        پروفایل
    </button>
    <button  class="btn btn-outline-danger me-3" onclick=logout(`${jwt_token}`)>
        خروج
    </button>
    <button class="modal-btn d-none"></button>`


{% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class="row">
      <div class="col-md-3">
          <div class="sticky-top">
              <ul class="list-group p-0 my-md-0 my-4">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href={{ url_for("user_post", user_name=user.username) }}>پست های من</a>
                    <span class="badge bg-primary rounded-pill">{{ user_posts | length }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href={{ url_for("create_post") }} >ایجاد پست</a>
                    <span class="badge bg-primary rounded-pill"></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href={{ url_for('get_all_comment_user', user_name=user.username) }} >کامنت های من</a>
                    <span class="badge bg-primary rounded-pill">{{ comments | length }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span role="button">نویسنده شدن</span>
                  </li>
            </ul>
          </div>
      </div>
      <div class="col-md-9">
      <div class="row">
      <h2 class="text-center bg-info text-white py-2 sticky-top">پست ها من</h2>
          {% for user_post in user_posts %}

          <div class="col-xl-12 col-xxl-4 col-12">
            <div class="card mb-3 mx-auto" style="max-width: 540px;">
              <div class="row g-0">

                  <div class="col-md-12">
                    <div class="card-body">
                      <h5 class="card-title">{{ user_post.title }}</h5>
                        <hr>
                      <p class="card-text">{{ user_post.content | truncate(150) }}</p>
                      <p class="card-text"><small class="text-muted">
                          <span>آخرین آپدیت:</span>
                          <span class="last-update">
                              {{ user_post.last_update.date() | to_jalali}}
                          </span>
                      </small></p>
                        <a class="btn btn-outline-info" href={{ url_for('get_post', id=user_post.post_id) }} >مطالعه بیشتر</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>


      </div>

      </div>
    </div>

{% endblock %}


{% block script %}

{% endblock %}
