{% extends 'base.html' %}
{% block style %}
<link rel="stylesheet" href="../statics/css/about.css">{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="text-center mt-5 ">about us</h1>
        <p class="text-center mt-5 lead ">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, reiciendis placeat! Error, vel! Repudiandae aspernatur numquam deserunt, delectus inventore tempora placeat, expedita architecto eveniet ea dignissimos at voluptatem repellendus tempore?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, reiciendis placeat! Error, vel! Repudiandae aspernatur numquam deserunt, delectus inventore tempora placeat, expedita architecto eveniet ea dignissimos at voluptatem repellendus tempore?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, reiciendis placeat! Error, vel! Repudiandae aspernatur numquam deserunt, delectus inventore tempora placeat, expedita architecto eveniet ea dignissimos at voluptatem repellendus tempore?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, reiciendis placeat! Error, vel! Repudiandae aspernatur numquam deserunt, delectus inventore tempora placeat, expedita architecto eveniet ea dignissimos at voluptatem repellendus tempore?
        </p>
        </div>
    </div>
    <div class="py-5 team4">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3 text-capitalize ">our team</h3>
              <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
          </div>
          <div class="row">
            <!-- column  -->
            <div class="col-md-6 col-lg-3 my-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 text-center">
                    <a href="#">
                  <img src="/statics/images/amin_rabiee.webp" alt="amin_rabiee img" class="img-fluid rounded-circle" width="300" />
                    </a>
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 fw-bold mb-0 text-capitalize">amin rabiee</h5>
                    <h6 class="subtitle mb-3">Property Specialist</h6>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <ul class="d-flex justify-content-around">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/twitter.svg" alt="twitter image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/instagram.svg" alt="instagram image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/linkedin-2.svg" alt="linkedin image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/github.svg" alt="linkedin image"/>
                      </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-md-6 col-lg-3 my-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 text-center">
                    <a href="/home/amin/Desktop/hw15/hw15.html"></a>
                  <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" alt="wrapkit" class="img-fluid rounded-circle" width="300" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 fw-bold mb-0">Michael Doe</h5>
                    <h6 class="subtitle mb-3">Property Specialist</h6>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <ul class="d-flex justify-content-around">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/twitter.svg" alt="twitter image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/instagram.svg" alt="instagram image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/linkedin-2.svg" alt="linkedin image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/github.svg" alt="linkedin image"/>
                      </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-md-6 col-lg-3 my-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 text-center">
                  <img src="../statics/images/mojtaba.jpg" alt="wrapkit" class="img-fluid rounded-circle" width="300" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 fw-bold mb-0">مجتبی امین زاده</h5>
                    <h6 class="subtitle mb-3">پایتون - جنگو</h6>
                    <p>علاقه مند به برنامه نویسی، درحال یادگیری جنگو. او همچنین توانایی کد زدن در ساعات متوالی را دارد.</p>
                    <ul class="d-flex justify-content-around">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/twitter.svg" alt="twitter image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/instagram.svg" alt="instagram image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/linkedin-2.svg" alt="linkedin image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/github.svg" alt="linkedin image"/>
                      </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-md-6 col-lg-3 my-4">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 text-center">
                  <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle" width="300" />
                </div>
                <div class="col-md-12 text-center">
                  <div class="pt-2">
                    <h5 class="mt-4 fw-bold mb-0">Michael Doe</h5>
                    <h6 class="subtitle mb-3">Property Specialist</h6>
                    <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                    <ul class="d-flex justify-content-around">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/twitter.svg" alt="twitter image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/instagram.svg" alt="instagram image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/linkedin-2.svg" alt="linkedin image"/>
                      </a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1">
                          <img src="../statics/images/github.svg" alt="linkedin image"/>
                      </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
        </div>
      </div>

      {% endblock %}

