{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block style %} {% endblock %}


{% block content %}
    <div class="container">
    <form class="row g-3" method="POST" action="/post" id="create-post-form">
        <div class="mb-3">
          <label for="postTitle" class="form-label">Email address</label>
          <input type="text" class="form-control" id="postTitle" name="posttitle" placeholder="عنوان پست">
        </div>
        <div class="mb-3">
          <label for="postContent" class="form-label">متن پست</label>
          <textarea class="form-control" id="postContent" name="postcontent" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </form>
    </div>
{% endblock %}


{% block script %}
<script src="../statics/js/create_post.js"></script>
{% endblock %}
