{% extends 'base.html' %}

{% block title %}
    {{ super() }}
  مقالات ما
{% endblock %}

{% block style %} {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-6">

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="../statics/images/img1.png" class="img-fluid rounded-start" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">معرفی بوت استرپ</h5>
              <p class="card-text">بوت استرپ مجموعه ای غول پیکر از بیت های مفید و قابل استفاده مجدد از کد است که به زبان HTML، CSS و جاوا اسکریپت نوشته شده اند. همچنین یک بستر توسعه فرانت اِند است که توسعه دهندگان و طراحان را قادر می سازد تا به سرعت وب سایت هایی کاملا واکنش گرا بسازند.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="../statics/images/img1.png" class="img-fluid rounded-start" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">معرفی بوت استرپ</h5>
              <p class="card-text">بوت استرپ مجموعه ای غول پیکر از بیت های مفید و قابل استفاده مجدد از کد است که به زبان HTML، CSS و جاوا اسکریپت نوشته شده اند. همچنین یک بستر توسعه فرانت اِند است که توسعه دهندگان و طراحان را قادر می سازد تا به سرعت وب سایت هایی کاملا واکنش گرا بسازند.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="../statics/images/img1.png" class="img-fluid rounded-start" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">معرفی بوت استرپ</h5>
              <p class="card-text">بوت استرپ مجموعه ای غول پیکر از بیت های مفید و قابل استفاده مجدد از کد است که به زبان HTML، CSS و جاوا اسکریپت نوشته شده اند. همچنین یک بستر توسعه فرانت اِند است که توسعه دهندگان و طراحان را قادر می سازد تا به سرعت وب سایت هایی کاملا واکنش گرا بسازند.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <img src="../statics/images/img1.png" class="img-fluid rounded-start" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">معرفی بوت استرپ</h5>
              <p class="card-text">بوت استرپ مجموعه ای غول پیکر از بیت های مفید و قابل استفاده مجدد از کد است که به زبان HTML، CSS و جاوا اسکریپت نوشته شده اند. همچنین یک بستر توسعه فرانت اِند است که توسعه دهندگان و طراحان را قادر می سازد تا به سرعت وب سایت هایی کاملا واکنش گرا بسازند.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block script %} {% endblock %}
